/*userAgentStylesheetの無効化*/
table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
.centerFont{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;

	font-size: 3em;
	text-align:center;
}
.costTable{
/*	margin-top: 4em;*/

}
.costTable table, tr td{
	margin-left: auto;
	margin-right: auto;
	
	border-style: solid;
	border-width: 1px;
	border-color: red;
	
}
.costTable tr:nth-child(1){
	background: #FFDAB9;
}
.costTable td{
	padding: 12px;
}
.costTable td:nth-child(2){
	text-align:right;
}
.costTable td:nth-child(3){
	text-align:right;
}
.itemCol{
	width: 280px;
}
.inChartItem{
}
.inChartItem th{
	
	background: #FFDAB9;
}
.inChartItem td{
	
	
}

.registerAddressWarapper{
	overflow:auto;
}
.registeredAddressBox{
	display:table;
	border-collapse: collapse;
	float: left;
	margin-left: 1em;
	margin-bottom: 1em;
}
.registeredAddressTableRow{
	display: table-row;

}
.registeredAddressTableRow div{
	display:table-cell;
	border:1px solid;
	border-color: red;

	padding: 8px;
}
.registeredAddressTableRow div:nth-child(1){
	background: #fffacd;
}
/*.registeredAddressTableCell{
	display: table-cell;

	border-style: solid;
	border-width: 1px;
	border-buttom: -1px;

	border-color: red;
	padding: 1em;
}*/
.registeredAddresTable td:nth-child(1){
	background: #ffbd80;
	
}
.registeredAddresButton{
/*	clear: left;
	text-align: center;*/
}
.registerAddresTable{

}
.registerAddresTable td{
	padding: 1em;
}
.registerAddresTable td:nth-child(1){
	background: #fffacd;
	
}

.orderHistroryTable table, tr td{

	border-style: solid;
	border-width: 1px;
	border-color: red;
	
}
.orderHistroryTable tr:nth-child(1){
	background: #FFDAB9;
}
.orderHistroryTable td{
	padding: 12px;
}
.orderHistroryTable td:nth-child(3){
	text-align:right;
}
.orderHistroryTable td:nth-child(4){
	text-align:right;
}
.orderHistroryTable .totalCost1{
	border-right-style:none;
}
.orderHistroryTable .totalCost2{
	border-left-style:none;
	border-right-style:none;
}
.orderHistroryTable .totalCost3{
	border-left-style:none;
}

/*tr td{padding:15px 25px;}*/
/*table{margin:25px;}*/

.total{
	color: #ff0000;
}
.topForm{
	border-style: solid;
	border-width: 5px;
	border-color: red;
	background: 	#DCDCDC;
}
.topForm p{
	margin: 0px;
}
div.warapper {
   margin: 0px;
   padding: 0px;
}
div.warapper div.leftCont {
	margin-right: 64px;
	width: 220px;
	float: left;

}
div.warapper div.leftCont div.userMenu ul{
	padding: 0px;
}
div.warapper div.leftCont div.userMenu li{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin-top: -1px;

	padding: 12px;

	text-align: center;
}
div.warapper div.leftCont div.categoryMenu ul{
	padding: 0px;
}
div.warapper div.leftCont div.categoryMenu li{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin-top: -1px;

	padding: 12px;

	text-align: center;
	font-weight:bold; 
}
div.warapper div.leftCont div.categoryMenu li:first-child{
	background: red;
	color: white;
}
div.warapper div.rightCont {
	width: 600px;
	float: left;
}
div.warapper div.rightCont div.informationText{
	width: 280px;

	background: #FAEBD7;
}
div.warapper div.rightCont div.itemLeft{
	width: 280px;
	height: 230px;
	float: left;

}
div.warapper div.rightCont div.itemRight{
	width: 280px;
	height: 230px;
	float: left;

}
div.totalCost{
	text-align: center;
	font-size: 2em;
}
