<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>新規会員登録</title>
    </head>
<body>
    <form action="insert_user.php" method="post">
        <dl>
            <dd>
                <dt>ユーザー名 {$name}</dt>
            </dd>
            <dd>
                <dt>メールアドレス {$mail}</dt>
            </dd>
            <dd>
                <dt>パスワード【表示されません】</dt>
            </dd>
        </dl>
        <p>
            <input type="button" onclick="location.href='register.php'"value="書き直す">
            <input type="submit" value="登録する"></div>
        </p>
        <input type="button" onclick="location.href='drag_store.php'"value="トップページに戻る">
    </form>
</body>
</html>