<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type"content="text/html; charset=UTF-8">
		<title>ec_site</title>
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<body>
			<h1>ログイン</h1>
			<form action="login.php" method="post" enctype="multipart/form-data">
				<dl>
					<dt>メールアドレス</dt>
					<dd>
					  <input type="text" name="mail" size="35" maxlength="255">
					</dd>

					<dt>パスワード</dt>
					<dd>
					  <input type="password" name="pass" size="10" maxlength="20">
					</dd>
				</dl>
				<div>
					<p>
						<input type="submit" value="ログイン">

						<a href="{$register_page}"><input type="button" value="新規会員登録">
						</a>
					</p>
					<p>
						<a href="{$top_page}"><input type="button" value="トップページに戻る">
					</p>
				</div>
			</form>
		</body>
	</head>
<html>