<!DOCTYPE html>
<html>
	<head>
	 <meta http-equiv="Content-Type"
            content="text/html; charset=UTF-8">
		<title>ec_site</title>
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="/script/chartCalc.js"></script>
		<body>
			<header>
				<div class="topForm">
					<form id="search_form" action="drag_store.php" method="post">
						<p><a href="{$top_page}"><img src="image/tengoku.png"></a>カテゴリ
							<select name="category" method="post">
								<option value="NULL">すべて</option>
								{foreach from=$categoryArray item=value key=key}
									<option value={$value}>{$key}</option>
								{/foreach}
							</select>

							キーワードで調べる<input type="text" size="12" name="itemName" value="{$itemName}"/>
							<input type="submit" name="submit" value="絞込検索">

							{if $userSession == true}
								ようこそ<a href="{$order_history_page}">{$userName}</a>さん
								<a href="{$shop_chart_page}">ショッピングカートへ</a>
								<a href="{$logout_page}">ログアウト</a>する
							{else}
								<a href="{$login_page}">ログイン</a>する
								<a href="{$register_page}">新規会員登録</a>
							{/if}
					</form>
				<div>
			</header>
			<div class="centerFont">購入履歴</div>
			{foreach from=$orderHistroy item=value key=key}
				<div class="centerFont">{$value['month_day']}の注文</div>
				<table class="orderHistroryTable" width="60%">		

					<tr>
						<td>時間</td>
						<td>商品名</td>
						<td>注文個数</td>
						<td>価格</td>
					</tr>
					{$date = $value['month_day']}
					{foreach from=$value["$date"] item=value2 key=key2}
						<tr>
							<td width="20%"> {$value2['time']}</td>
							<td width="50%"> 
								<a href="{$item_page}?id={$value2["item_id"]}">{$value2['item_name']}</a>
							</td>
							<td width="15%">{$value2['num']}個</td>
							<td width="15%">{$value2['price']}円</td>
						</tr>
					{/foreach}
					<tr>
						<td colspan="4" align="right">
							合計金額：<span id="test"style="color:red;font-weight: bold ;">{$value['total']}</span>円
						</td>

					</tr>
				</table>
			{/foreach}
			
		</body>
	</head>
<html>
